button {
    margin: 10px;
    font-size: 32px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Marvel-Regular', sans-serif;
}

button:hover {
    background-color: #d70000;
}

button:disabled {
    background-color: #5e5c5c;
}